h1 {
    color: white;
}

body {
    background-color: lightblue;
    /* default gambarnya selalu diulang  */
    background-image: url(image/screenshot4.jpg);
    background-repeat: no-repeat;
    /* kalo udah pake background-repeat: no-repeat;
    berarti bisa pake background-position: ; */
    background-position: top center;
}